{% import 'macros.j2' as g -%}
name={{g.prefix}}spark
versions=1.6.3,2.0.0,2.1.0
type=class
parents={{g.prefix}}java-open,{{g.prefix}}java-oracle
mappings = [0]:[0]:7-u16.04,[1]:[1]:8-c6,[2]:[1]:8-c7
